<!-- <section id="accommodation">
<h5 class="z-depth-2">Practical Information</h5>
<p>
  The steering committee of the second edition of the APEL'16 conference has the honor to inform you that it has negotiated preferential accommodation fees with partners for all participants in the Workshop.
</p>
<p>
  Riad MIMOZA
</p>

<h5 class="z-depth-2">The negotiated price (including breakfast) is:</h5>

<ul>
  <li>•	450 MAD / Single Room.</li>
  <li>•	500 MAD / Double room (twin beds)</li>
  <li>•	550 MAD / Triple room (separate beds)</li>
</ul>
  <p>Web site: www.riadmimosa.com</p>
  <span class="z-depth-5">N.B: Transportation between the Riad and FST - Fes will be provided by the steering committee.</span>







</section> -->
<div class="row">
  <div class="col s12 section-soon">
    <h3 class="header soon">Will be announced soon</h3>
    <h6>thanks for your understanding</h6>
  </div>
</div>
