<div id="committee">
  <div class="row">
      <div class="col s4">
        <div class="row">
          <div class="col s12">
            <h5>Honorary Committee </h5>
            <ul>
              <li>Omar ASSOBHI (Président USMBA, Fès)</li>
              <li>Moulhime EL BEKKALI (Vice Président USMBA, Fès)</li>
              <li>Ali BENBASSOU (Directeur EST, Fès)</li>
              <li>Mustapha IJJAALI (Doyen FST, Fès)</li>
              <li>Driss CHENOUNI (Directeur ENS, Fès)</li>
              <li>Mohammed BENLEMLIH (Doyen FSDM, Fès)</li>
            </ul>
          </div>
          <div class="col s12">
            <h5> Steering Committee </h5>
            <ul>
              <li>Aziz DEROUICH (EST, Fès)</li>
              <li>Abdelali IBRIZ (EST, Fès)</li>
              <li>Abdelkrim KHARTOCH (EST, Fès)</li>
              <li>Mohamed BENSLIMANE (EST, Fès)</li>
              <li>Othmane ZINE (EST-LPE2D, Fès)</li>
              <li>Othmane ZAMZOUM (EST-LPE2D, Fès)</li>
            </ul>
          </div>
        </div>


      </div>
      <div class="col s8">
        <h5>Scientific Committee</h5>
        <div class="row">
          <div class="col s6">
            <ul>
              <li>Aziz DEROUICH (EST, Fès)</li>
              <li>Abdelali IBRIZ (EST, Fès)</li>
              <li>Abdelkrim KHARTOCH (EST, Fès)</li>
              <li>Mohamed BENSLIMANE (EST, Fès)</li>
              <li>Othmane ZINE (EST-LPE2D, Fès)</li>
              <li>Othmane ZAMZOUM (EST-LPE2D, Fès)</li>
            </ul>
          </div>
          <div class="col s6">
            <ul>
              <li>Aziz DEROUICH (EST, Fès)</li>
              <li>Abdelali IBRIZ (EST, Fès)</li>
              <li>Abdelkrim KHARTOCH (EST, Fès)</li>
              <li>Mohamed BENSLIMANE (EST, Fès)</li>
              <li>Othmane ZINE (EST-LPE2D, Fès)</li>
              <li>Othmane ZAMZOUM (EST-LPE2D, Fès)</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
