<section id="home">
  <div class="logo-apel"></div>
  <div class="carousel carousel-slider z-depth-3">
    <a class="carousel-item" href="#one!"><img src="assets/img/slider/01.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/img/slider/02.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/img/slider/03.JPG"></a>
    <a class="carousel-item" href="#four!"><img src="assets/img/slider/04.jpg"></a>
  </div> <!--/ carousel-->
  <section>
      <blockquote cite="http://" >
        <p>
          Besides the reform of higher education in Morocco, universities must renew their pedagogical arsenal and innovate in teaching through the use of ICT. While few Moroccan universities E-Learning has reached a certain maturity, we are witnessing a new phenomenon of globalization and internationalization of training. This phenomenon directly affects higher education learning strategies, notably by promoting competitiveness and competition. Thanks to their solid institutional structures, western countries are able to provide open, varied and high-quality distance education. Therefore, the Moroccan university must further develop its strategies of digital education to preserve its particularities.
        </p>
        <p>
          After the success of the first edition in the form of an International Workshop <span class="flow-text">APEL'2015</span> held at the Higher School of Technology of Fez and the second edition convened at the Faculty of Science and Technology of Fez as an international conference <span class="flow-text">APEL'2016</span>. This third edition of the conference <span class="flow-text">APEL'2018</span>  is a major international forum for the presentation of ideas, approaches, technologies, systems, results and innovations in the emerging areas of pedagogy and e-learning.
        </p>
        <p>
          <span class="flow-text">APEL'2018</span> will provide an excellent opportunity for researchers, PhD students, professors, administrators and practitioners to meet recognized experts from around the world and discuss innovative ideas, approaches and novelties in teaching and online learning, technological advances assisting learning, research findings, good practices, case studies, national and international projects, institutional norms and policies and many other topics related to the development and promotion of education and ICT-based training.
        </p>
      </blockquote>
      <h5 class="z-depth-2">
        Important Dates:
      </h5>
      <ul>
        <li>Papers submission: September 16th, 2018</li>
        <li>Acceptance notification: October 21st, 2018</li>
        <li>Final papers: October 31st, 2018</li>
        <li>Registration deadline: November 16th, 2018</li>
        <li>Conference: December 28th, 29th & 30th, 2018</li>
      </ul>
  </section>
</section>

<script type="text/javascript">
    $('.carousel').carousel({
      fullWidth: true,
      indicators: true,
      duration: 100
    });
    autoplay()
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }

</script>
