<div class="row partners" id="partners">
  <div class="col s12">
    <!-- <h5>Our partners</h5> -->

      <ul>
        <li class=" z-depth-1">
          <img src="assets/img/partners/usmba.png" alt="Université Sidi Mohamed Ben Abdellah - Fès">
        </li>
        <li class=" z-depth-1">
          <img src="assets/img/partners/UN.png" alt="Université de Namur">
        </li>
        <li class=" z-depth-1">
          <img src="assets/img/partners/UL.jpg" alt="Université de Liège">
        </li>
        <li class=" z-depth-1">
          <img src="assets/img/partners/UCL.jpg" alt="Université catholique de Louvain">
        </li>
        <li class=" z-depth-1">
          <img src="assets/img/partners/ENSUP.jpg" alt="Ministère de l'Enseignement Supérieur">
        </li>
        <li class=" z-depth-1">
          <img src="assets/img/partners/TICSM.png" alt="TICSM">
        </li>
      </ul>


  </div>
</div>


<style>
/* .slides{border:1px solid #444;height: 200px;width: 200px;margin:auto;} */
</style>
