<!--<section id="registration">


  <div class="row">
    <p>
      The international conference on pedAgogical aPproaches and E-Learning (APEL'2018) will take place at the conference center of the Higher School Technology – Fez on November 28th, 29th & 30th, 2018
    </p>
    <div class="col s5">
      <p>
        Registration fees for the APEL'2018 conference and trainings:
      </p>
      <table class="striped">
       <thead class="head-table-jaune">
         <tr>
             <th>Registration fees</th>
             <th>Conference</th>
             <th>Gala Diner</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Industrials</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Academics</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Students</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Students (IEEE members)</td>
           <td></td>
           <td></td>
         </tr>
       </tbody>
      </table>
      <h6>The trainings registration fees cover:</h6>

      <ul>
        <li>Admission to the training sessions.</li>
        <li>Electronic and paper training materials.</li>
        <li>Lunches, and coffee breaks during the training day.</li>
      </ul>
    </div>
    <div class="col s7">
    <p>
      The following trainings will be held in conjunction with the main conference APEL'2018:
    </p>
    <table class="striped">
     <thead class="head-table-jaune">

       <tr>
           <th>Registration fees</th>
           <th>W1</th>
           <th>W2</th>
           <th>W3</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Industrials</td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr>
         <td>Academics</td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr>
         <td>Students</td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr>
         <td>Students (IEEE members)</td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
     </tbody>
    </table>
    <h6>
        The conference registration fees cover:
    </h6>
    <ul>
      <li>Admission to all conference sessions.</li>
      <li>The electronic version of the proceeding.</li>
      <li>Lunches, and coffee breaks.</li>
    </ul>
    </div>
  </div>
  <section class="z-depth-2 text-justify ">
      <h6>Please note that:</h6>
      <ul>
        <il>Registrations for the conference and the trainings are separate. The conference registration doesn't cover the trainings, and vice versa.</il>
        <il>Registration is required by at least one author for each accepted paper in order to published in the conference Proceedings</il>
        <il>Registration is per participant and per paper. One registration only to present many papers is not allowed.</il>
      </ul>

        <p>
           Payment to be made to the "Ecole supérieure de technologie de Fès" Account:
        </p>
        <p>** "Bons de commande" are accepted</p>
        <p>
          After the payment, please fill the registration form, and send it along with the required documents to: apel2018@usmba.ac.ma
        </p>

  </section>

</section>-->
<div class="row">
  <div class="col s12 section-soon">
    <h3 class="header soon">Will be announced soon</h3>
    <h6>thanks for your understanding</h6>
  </div>
</div>
