<section id="submission">
  <p>
    Papers must be written in English, in the IEEE two-column format with a maximum size of 6 pages. (Link to download the Template)
  </p>
  <p>
    Papers must be submitted using EasyChair platform, in MS Word format (docx).
    Submission link:
  </p>
  <div class="bulle z-depth-5">
    <!-- <div class="close"> <i class="material-icons">close</i></div> -->
    <h5 class="z-depth-2">
        Important Dates   :
    </h5>
    <div class="arow"></div>
    <ul>
      <li>Papers submission: <b><span class="jaune">September 16th, 2018</span></b></li>
      <li>Acceptance notification: <span class="jaune">October 21st, 2018</span></li>
      <li>Final papers: <span class="jaune">October 31st, 2018</span></li>
      <li>Registration deadline: <span class="jaune">November 16th, 2018</span></li>
      <li>Conference:<span class="jaune"> December 28th, 29th & 30th, 2018</span></li>
    </ul>
  </div>
</section>
